.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: lightslategray
}

.card{
    background:rgba(255,255,255,0.9);
}

.feasible{
    background: #007bff;
    color: white;
    border-radius: 0.2em;
}

.infeasible{
    background: crimson;
    color: white;
    border-radius: 0.2em;
}